<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Family_Phone_BookFrame">
		<title>Family__Phone__Book</title>
		<centered>1</centered>
		<icon stock_id="wxART_GO_HOME" />
		<size>750,500</size>
		<bg>#FFFF80</bg>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxListCtrl" name="mainWindowID" variable="mainWindowV" member="yes">
					<style>wxLC_REPORT</style>
					<handler function="OnmainWindowVBeginDrag" entry="EVT_LIST_BEGIN_DRAG" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<object class="tool" name="addWx" variable="ToolBarItem1" member="yes">
				<label>Adding</label>
				<bitmap stock_id="wxART_ADD_BOOKMARK" />
				<tooltip>Adding</tooltip>
				<handler function="addingButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="deleteWx" variable="ToolBarItem2" member="yes">
				<label>Deleting</label>
				<bitmap stock_id="wxART_DEL_BOOKMARK" />
				<tooltip>Deleting</tooltip>
				<handler function="deletingButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="editWx" variable="ToolBarItem8" member="yes">
				<label>Editing</label>
				<bitmap stock_id="wxART_PASTE" />
				<tooltip>Editing</tooltip>
				<handler function="editingButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="filterWx" variable="ToolBarItem7" member="yes">
				<label>Filtering</label>
				<bitmap stock_id="wxART_LIST_VIEW" />
				<tooltip>Filtering</tooltip>
				<handler function="filteringButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="searchWx" variable="ToolBarItem3" member="yes">
				<label>Searching</label>
				<bitmap stock_id="wxART_FIND" />
				<tooltip>Searching</tooltip>
				<handler function="searchingButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="sortASCWx" variable="ToolBarItem4" member="yes">
				<label>SortingASC</label>
				<bitmap stock_id="wxART_GO_UP" />
				<tooltip>SortingASC</tooltip>
				<handler function="sortingASCButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="SortDESCWx" variable="ToolBarItem5" member="yes">
				<label>SortingDESC</label>
				<bitmap stock_id="wxART_GO_DOWN" />
				<tooltip>SortingDESC</tooltip>
				<handler function="sortingDESCButton" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="moreWx" variable="ToolBarItem6" member="yes">
				<label>More</label>
				<bitmap stock_id="wxART_TIP" />
				<tooltip>More</tooltip>
				<handler function="moreButton" entry="EVT_TOOL" />
			</object>
		</object>
	</object>
</wxsmith>
